<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <blockquote>
                <p>
                    起源：站长是个喜欢吃烤鸭的人，2015年的那一天，站在长长的队尾，经历了漫长的20分钟的排队站长终于难耐腹中的饥饿和胸中的烦躁，爆发出了“难道吃个烤鸭就这么难”的念头。于是乎经过跟店主长达2分钟的交流，建立本站的想法就这样落实了...
                </p> <small>站长<cite>于2015-09-02</cite></small>
            </blockquote>
        </div>
    </div>
</div>