<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a href="#" class="button button-primary button-small"><i class="fa fa-heart"></i> 我的关注</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <ol>
                        <li>国庆阅兵式</li>
                        <li>天津港爆炸案</li>
                        <li>舜天船舶</li>
                    </ol>
                </div>
                <div class="panel-footer">
                    Panel footer
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="panel-group" id="panel-88">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-88" href="#panel-element-1"><b>最新活动</b></a>
                    </div>
                    <div id="panel-element-1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="thumbnail col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/600/200" />
                                <div class="caption">
                                    <h3>
                                        活动名
                                    </h3>
                                    <p>
                                        这里是活动概述
                                    </p>
                                    <p>
                                        <a class="btn btn-primary" href="#"><i class="fa fa-info-circle"></i>  详情 </a> <a class="btn" href="#"><i class="fa fa-plus"></i> 关注</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-88" href="#panel-element-2"><b>热门活动</b></a>
                    </div>
                    <div id="panel-element-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-88" href="#panel-element-3"><b>全部</b></a>
                    </div>
                    <div id="panel-element-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Anim pariatur cliche...
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>