<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Greeting 欢迎!
                </h2>
                <p>
                    建立此站点的初衷是为生活在这个社区的成员提供生活、娱乐、学习上的各种便利。站长非常怀念而是邻里间和睦相处的氛围，因此希望通过网络的力量将大家联合起来，互帮互助、和谐共赢，创建更好的社区生活环境。
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="aboutUs">看看我们还想做什么？</a>
                </p>
            </div>
        </div>
    </div>
</div>
