<div class="container-fluid">
    <div class="row">
        <div class="col-bg-12 col-md-12 col-sm-12 col-xs-12 ">
            <div class="jumbotron">
                <h2>
                    Greeting, 欢迎来到金盛之家!
                </h2>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;建立此站点的初衷是为生活在这个社区的成员提供生活、娱乐、学习上的各种便利。站长非常怀念儿时邻里间和睦相处的氛围，因此希望通过网络的力量将大家联合起来，互帮互助、和谐共赢，创建更好的社区生活环境。你既可以是一个组织者，发起一个商业活动或者公益活动，甚至是捐助，也可以作为社区的一员关注或参与到一个活动中来。请参考<cite><a href="#">如何使用本站</a></cite>
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="aboutUs">看看我们还想做什么？</a>
                </p>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="input-group text-center">
                <input id="keyWords" type="text" class="form-control input-lg" placeholder="搜索任意你感兴趣的..." onkeypress="search(event)" />
                <span class="input-group-addon"><b class="fa fa-search"></b></span>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img alt="Bootstrap Thumbnail First" src="/images/thumbnail1.jpg" />
                <div class="caption">
                    <h3>
                        <b>新闻</b>
                    </h3>
                    <p>
                        热烈庆祝国庆阅兵式圆满成功！
                    </p>
                    <p>
                        <a class="button button-primary" href="#">查看</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img alt="Bootstrap Thumbnail Second" src="/images/thumbnail2.jpg" />
                <div class="caption">
                    <h3>
                        <b>商业</b>
                    </h3>
                    <p>
                        水西门烤鸭店
                    </p>
                    <p>
                        <a class="button button-royal" href="#" onclick="go('/activityList?type=COMMERCIAL')">查看</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img alt="Bootstrap Thumbnail Third" src="/images/thumbnail3.jpg" />
                <div class="caption">
                    <h3>
                        <b>教育</b>
                    </h3>
                    <p>
                        秦淮河风光带一日游
                    </p>
                    <p>
                        <a class="button button-action" href="#">查看</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img alt="Bootstrap Thumbnail Third" src="/images/thumbnail3.jpg" />
                <div class="caption">
                    <h3>
                        <b>慈善</b>
                    </h3>
                    <p>
                        秦淮河风光带一日游
                    </p>
                    <p>
                        <a class="button button-highlight" href="#">查看</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <img alt="Bootstrap Thumbnail Third" src="/images/thumbnail4.jpg" />
                <div class="caption">
                    <h3>
                        <b>娱乐</b>
                    </h3>
                    <p>
                        游戏娱乐
                    </p>
                    <p>
                        <a class="button button-caution" href="#">查看</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function search(event)
    {
        if(event.keyCode==13)
        {
            var keyWords=$('#keyWords').val();
            if(keyWords=='')
            {
                return;
            }
            else
            {
                go('/search?keywords='+keyWords);
            }
        }
    }

</script>