<br/>
<br/>
<br/>
<form name="Form" action="?" id="_form" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        <b>登录</b>
                    </div>
                    <div class="panel-body">
                        <div class="input-group text-center">
                            <input type="text" class="form-control input-lg" name="username" placeholder="用户名" />
                            <span class="input-group-addon"><b class="fa fa-user"></b></span>
                        </div>
                        <br/>
                        <div class="input-group text-center">
                            <input type="password" class="form-control input-lg" name="password" placeholder="密码" />
                            <span class="input-group-addon"><b class="fa fa-key"></b></span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <input type="button" class="button button-primary" value="登录" onclick="submitForm('_form')" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" class="button button-action " value="注册" onclick="go('/register')" />
                        <label><% if(message){%><%=message%><%}%></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br>
<br>
