<br/>
<br/>
<br/>
<form name="Form" action="?" id="_form" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading form-inline">
                            <button class="button button-small button-primary button-pill button-longshadow-left button-raised"><i class="fa fa-user">本站</i></button>
                            <button class="button button-small button-highlight button-pill button-longshadow-right button-raised"><i class="fa fa-weibo">微博</i></button>
                            <button class="button button-small button-caution button-pill button-longshadow-left button-raised"><i class="fa fa-weixin">微信</i></button>
                            <button class="button button-small button-action button-pill button-longshadow-right button-raised"><i class="fa fa-qq">QQ  </i></button>

                    </div>
                    <div class="panel-body">
                        <div class="input-group text-center">
                            <input type="text" class="form-control input-lg" name="username" placeholder="用户名" />
                            <span class="input-group-addon"><b class="fa fa-user"></b></span>
                        </div>
                        <br/>
                        <div class="input-group text-center">
                            <input type="password" class="form-control input-lg" name="password" placeholder="密码" />
                            <span class="input-group-addon"><b class="fa fa-key"></b></span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="button button-primary button-raised" onclick="submitForm('_form')">登录</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="button button-action">注册</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>