<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="button-group">
                        <a href="#" class="button button-primary button-small"><i class="fa fa-th-large"></i> 最新</a>
                        <a href="#" class="button button-primary button-small"><i class="fa fa-th-list"></i> 一周</a>
                        <a href="#" class="button button-primary button-small"><i class="fa fa-th"></i> 全部</a>
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            国庆阅兵式
                        </li>
                        <li>
                            抗战胜利70周年
                        </li>
                        <li>
                            天津港爆炸案
                        </li>
                        <li>
                            汉字听写大赛全国总决赛
                        </li>
                        <li>
                            习近平访美
                        </li>
                    </ul>
                    <ul class="pagination">
                        <li>
                            <a href="#"><-</a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">-></a>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group text-center">
                        <input type="text" class="form-control input-lg" placeholder="搜索标题、正文关键字" />
                        <span class="input-group-addon"><b class="fa fa-search"></b></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                2015年9月3日，国庆阅兵式
                            </h3>
                        </div>
                        <div class="panel-body">
                            <img src="/images/guoqing.jpg" class="img-responsive" >
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>