<link rel='stylesheet' href='/javascripts/fileUpload/css/jquery.fileupload.css' />
<script src="/javascripts/fileUpload/js/vendor/jquery.ui.widget.js"></script>
<script src="/javascripts/fileUpload/js/jquery.iframe-transport.js"></script>
<script src="/javascripts/fileUpload/js/jquery.fileupload.js"></script>

<br/>
<br/>
<br/>

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
            <input type="file" name="ttt" id="fileupload_input" />
            <label id="filename">aaa</label>
        </div>
    </div>
</div>


<script>
    var arr=new Array();
    arr.push('a');
    arr.push('b');
    arr.push('c');
    alert(arr.length);
    for(var k in arr)
    {
        if(arr[k]=='b')
        {
            arr.splice(k,1);
        }
    }
    alert(JSON.stringify(arr));
</script>
