<div class="container">
    <div class="row">
        <div class="alert alert-success alert-dismissable">
            <h3>
                完成！
            </h3>
            <strong>恭喜，您已经完成了新活动的设置!</strong>
        </div>
    </div>
</div>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>下面，您可以：</p>
            <ul>
                <li>
                    <a>查看刚创建的活动.</a>
                </li>
                <li>
                    <a>对活动进行编辑修改.</a>
                </li>
                <li>
                    <a>返回我的活动清单.</a>
                </li>
            </ul>
        </div>
    </div>
</div>