<script src="/javascripts/fileUpload/js/vendor/jquery.ui.widget.js"></script>
<script src="/javascripts/fileUpload/js/jquery.iframe-transport.js"></script>
<script src="/javascripts/fileUpload/js/jquery.fileupload.js"></script>


<div class="container">
    <div class="row">
        <div class="alert alert-success alert-dismissable">
            <h3>
                第三步
            </h3>
            <strong>创建您的商品!</strong> 包括商品名称、图片、描述、单价、单位等。
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    编辑商品
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        上传商品图片:
                        <input type="file" name="file" id="file" placeholder="请选择文件">
                    </div>
                </div>
                <div class="row">
                    <br/>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img width="100%" src="#" alt="" id="itemImage">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input id="itemName" type="text" class="form-control" placeholder="输入商品名称"/>
                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input id="itemDesc" type="text" class="form-control" placeholder="输入商品描述"/>
                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group">
                            <input id="itemUprice" type="text" class="form-control" placeholder="输入商品单价(元)"/>
                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group">
                            <input id="itemUom" type="text" class="form-control" placeholder="输入商品单位"/>
                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                        </div>
                    </div>
                </div>
                <br/>
                <!--<div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>所属模块：</p>
                        <select id="modalSelect"></select>
                    </div>
                </div>-->
                <br/>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label id="modalMessage" style="color:red"></label>
                    </div>
                </div>

                <input type="hidden" id="modalItemId" />
                <input type="hidden" id="modalItemIdActual" />

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="saveItem()">
                    保存
                </button>
            </div>
        </div>

    </div>

</div>

<div class="container">
    <div class="row">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h3 class="panel-title">
                    商品添加
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <button class="button button-primary button-small" onclick="addItem()">新增商品</button>
                    </div>
                </div>
                <hr/>
                <div class="row" id="itemList">

                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="button button-primary button-large text-center" onclick="save()">下一步</button>
        </div>
    </div>
</div>


<script>

    var _itemList=new Array();

/*    //加载_moduleList
    $.post('/users/getModuleList',{'activityID':getQueryStringByName('actid')},
            function(data){
                if(data.succeed)
                {
                    for(var i in data.list)
                    {
                        $('#modalSelect').append("<option value='"+data.list[i].moduleID+"'>"+data.list[i].moduleName+"</option>");
                    }
                }
                else
                {
                    $('#modalMessage').html('获取模块列表失败，请联系客服解决！');
                }
            });*/


    function addItem()
    {
        var itemid=uuid(16,16);
        var list=document.getElementById('itemList');


        var item=document.createElement('div');
        item.setAttribute('class','thumbnail col-lg-3 col-md-3 col-sm-3 col-xs-4');
        item.setAttribute('id','item'+itemid+'');

        var itemImg=document.createElement('img');
        itemImg.setAttribute('src','/images/logo.png');
        itemImg.setAttribute('width','100%');
        itemImg.setAttribute('id','thumbNailImgId_'+itemid);

        var capDiv=document.createElement('div');
        capDiv.setAttribute('class','caption');

        var title=document.createElement('label');
        title.setAttribute('id','thumbNailItemName_'+itemid);
        title.innerHTML='商品名称';

        var pp=document.createElement('p');
        var price=document.createElement('label');
        var spliter=document.createElement('label');
        var uom=document.createElement('label');
        price.setAttribute('id','thumbNailUprice_'+itemid);
        uom.setAttribute('id','thumbNailUom_'+itemid);
        spliter.innerHTML='/';
        pp.appendChild(price);
        pp.appendChild(spliter);
        pp.appendChild(uom);

        var p2=document.createElement('p');
        var a3=document.createElement('a');
        a3.setAttribute('class','btn btn-info');
        a3.setAttribute('onclick','editItem("'+itemid+'")');
        a3.innerHTML='编辑';
        var a4=document.createElement('a');
        a4.setAttribute('class','btn btn-danger');

        a4.setAttribute('onclick','delItem("'+itemid+'")');
        a4.setAttribute('style','margin-left:15px');
        a4.innerHTML='删除';
        p2.appendChild(a3);
        p2.appendChild(a4);

        var actid=document.createElement('input');
        actid.setAttribute('type','hidden');
        actid.setAttribute('id','actualID_'+itemid);

        capDiv.appendChild(title);
        capDiv.appendChild(pp);
        capDiv.appendChild(p2);

        item.appendChild(itemImg);
        item.appendChild(capDiv);
        item.appendChild(actid);

        list.appendChild(item);
    }

    function delItem(id)
    {
        var actid = document.getElementById('actualID_'+id).value;
        var list=document.getElementById('itemList');
        var item=document.getElementById('item'+id);
        if(actid=='')
        {
            //如果是新增的空的商品，则从页面中清除商品项目
            list.removeChild(item);
        }else
        {
            //如果是已经编辑过的商品，则不但要清除页面信息，也要从DB和_itemList中清除掉
            var data={'_id':actid};
            $.post('/users/deleteItem',
                    {'data':data},
                    function(data){
                        if(data.succeed)
                        {
                            //从页面中清除商品项目
                            list.removeChild(item);
                            //从_itemList中清除
                            for(var i in _itemList)
                            {
                                if(_itemList[i].itemID==actid)
                                {
                                    _itemList.splice(i,1);
                                    break;
                                }
                            }
                            alert(data.message);
                        }
                        else
                        {
                            alert(data.message);
                        }
                    });

        }
    }

    function editItem(id)
    {
        var img = $('#thumbNailImgId_'+id).attr('src');
        if(img=='/images/logo.png'||img==null)
        {
            resetModal();
            $('#modalItemId').val(id);
            $('#myModal').modal('show');
        }
        else
        {
            resetModal();
            $('#itemImage').attr('src',img);
            $('#itemName').val($('#thumbNailItemName_'+id).html());
            $('#itemDesc').val($('#thumbNailImgId_'+id).attr('alt'));
            $('#itemUprice').val($('#thumbNailUprice_'+id).html());
            $('#itemUom').val($('#thumbNailUom_'+id).html());
            $('#modalItemId').val(id);
            $('#moduleOptions').val($('#thumbNailModuleName_'+id).val());
            $('#modalItemIdActual').val($('#actualID_'+id).val());
            $('#myModal').modal('show');
        }
    }

    //将商品信息回传到缩略图中并保存至后台
    function saveItem()
    {
        var id=$('#modalItemId').val();
        var actid=$('#modalItemIdActual').val();
        //检查图片是否上传
        var img=$('#itemImage').attr('src');
        if(img=='' || img==null)
        {
            $('#modalMessage').html('请选择商品图片!');
            return;
        }

        //检查商品名称
        var name=$('#itemName').val();
        if(name.trim()=='' || name.trim()==null)//验证用户是否输入商品名
        {
            $('#modalMessage').html('请输入商品名称!');
            return;
        }

        var exp =new RegExp('^[a-zA-Z0-9\\u4E00-\\u9FA5]{1,15}$');//验证商品名是否汉字、字母或数字的组合，其他字符不允许
        if(!exp.test($('#itemName').val()))
        {
            $('#modalMessage').html('请输入15个字符以内的汉字或数字或字母的组合的商品名称!');
            return;
        }

        //检查商品描述
        var desc=$('#itemDesc').val();
        if(desc.trim()=='' || desc.trim()==null)//验证用户是否输入商品描述
        {
            $('#modalMessage').html('请输入商品描述!');
            return;
        }

        exp =new RegExp('^[a-zA-Z0-9\\u4E00-\\u9FA5]{1,100}$');//验证商品名是否汉字、字母或数字的组合，其他字符不允许
        if(!exp.test($('#itemDesc').val()))
        {
            $('#modalMessage').html('请输入100个字符以内的汉字或数字或字母的组合作为商品描述!');
            return;
        }

        //检查商品单价
        var price=$('#itemUprice').val();
        if(price.trim()=='' || price.trim()==null)//验证用户是否输入商品单价
        {
            $('#modalMessage').html('请输入商品单价!');
            return;
        }


        if(isNaN($('#itemUprice').val()))
        {
            $('#modalMessage').html('请输入纯数字作为商品单价!');
            return;
        }

        //检查商品单位
        var uom=$('#itemUom').val();
        if(uom.trim()=='' || uom.trim()==null)//验证用户是否输入商品单位
        {
            $('#modalMessage').html('请输入商品单位!');
            return;
        }


        exp =new RegExp('^[a-zA-Z0-9\\u4E00-\\u9FA5]{1,10}$');//验证商品单位是否汉字、字母或数字的组合，其他字符不允许
        if(!exp.test($('#itemUom').val()))
        {
            $('#modalMessage').html('请输入10个字符以内的汉字或数字或字母的组合作为商品单位!');
            return;
        }

        //保存商品信息至db
        var item={"itemName":name,"itemDesc":desc,"image":img,"price":price,"uom":uom,"itemID":actid,"activityID":getQueryStringByName('actid')};

        $.post('/users/saveNewItem',{'data':item},
                function(data){
                    if(data.succeed)
                    {
                        $('#thumbNailImgId_'+id).attr('src',img.replace('tmp','resource'));
                        $('#thumbNailImgId_'+id).attr('alt',desc);
                        $('#thumbNailItemName_'+id).html(name);
                        $('#thumbNailUprice_'+id).html(price);
                        $('#thumbNailUom_'+id).html(uom);
                        $('#actualID_'+id).val(data._id);
                        $('#myModal').modal('hide');
                        //将信息保存到_itemList中
                        if(item.itemID=='')//新增的item
                        {
                            item.itemID=data._id;
                            _itemList.push(item);
                        }
                        else//更新的item
                        {
                            for(var i in _itemList)
                            {
                                if(_itemList[i].itemID==item.itemID)
                                {
                                    _itemList.splice(i,1);
                                    break;
                                }
                            }
                            _itemList.push(item);
                        }
                    }
                    else
                    {
                        $('#modalMessage').html(data.message);
                    }
                });
    }

    //重置模态窗口中的信息
    function resetModal()
    {
        $('#file').val('');
        $('#itemImage').attr('src','');
        $('#itemName').val('');
        $('#itemDesc').val('');
        $('#itemUprice').val('');
        $('#itemUom').val('');
        $('#modalMessage').html('');
        $('#modalItemId').val('');
        $('#modalItemIdActual').val('');
    }

    <!-- 保存物品页面内容-->
    function save()
    {
        //检查_itemList中是否存在信息
        if(_itemList.length==0)
        {
            alert('请先添加商品再执行下一步操作！');
            return;
        }

        go('/users/itemsInModule?actid='+getQueryStringByName('actid'));

    }

    //用于上传商品图片
    $("#file").fileupload({
        url:"/upload?type=temp&tag=file",//处理程序的地址，当然也可以直接写在input的data-url属性内
        done:function(e,result){
            $('#itemImage').attr('src','/tmp/'+result.result.file);
        }
    });
</script>