<br/>
<br/>


<div class="container-fluid">
    <div class="row">
        <!--左边保存按钮等-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h3 class="panel-title">
                    编辑活动
                </h3>
            </div>
            <div class="panel-body">
                <button class="button button-primary">保存</button>
                <button class="button button-action">预览</button>
                <button class="button button-highlight">重置</button>
                <button class="button button-royal">返回</button>
            </div>
            <div class="panel-footer">

            </div>
        </div>
        </div>
        <!--右边活动编辑区域-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <!--活动命名-->
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        为你的活动命名(必须)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="输入活动名"/>
                                <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" >启用
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <select class="form-control">
                                <option>商业</option>
                                <option>家政</option>
                                <option>教育</option>
                                <option>公益</option>
                                <option>便民</option>
                                <option>娱乐</option>
                                <option>不确定</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--设置活动背景-->
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        选择活动的主题背景(可选)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="text-center">
                                <img src="/images/100_1.jpeg"><br/>
                                <label class="radio-inline">
                                    <input type="radio" name="theme">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="text-center">
                                <img src="/images/100_2.jpeg"><br/>
                                <label class="radio-inline">
                                    <input type="radio" name="theme">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="text-center">
                                <img src="/images/100_3.jpeg"><br/>
                                <label class="radio-inline">
                                    <input type="radio" name="theme">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="text-center">
                                <img src="/images/100_4.jpeg"><br/>
                                <label class="radio-inline">
                                    <input type="radio" name="theme">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--设置活动宣传栏-->
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        为活动设置宣传栏(可选)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="file" placeholder="第一幅宣传图片">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="输入第一幅图片的描述文字"/>
                                <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="file" placeholder="第二幅宣传图片">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="输入第二幅图片的描述文字"/>
                                <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="file" placeholder="第三幅宣传图片">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="输入第三幅图片的描述文字"/>
                                <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--设置活动板块-->
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        为活动设置板块(必须)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-8">
                            <div class="input-group">
                                <input id="moduleName" type="text" class="form-control" placeholder="输入模块名"/>
                                <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <button class="button button-primary button-small" onclick="addModule()">添加</button>
                        </div>
                    </div>
                    <br/>
                    <div class="row text-left">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            模块列表
                            <hr/>
                            <div id="moduleList">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--为板块添加内容-->
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        为板块添加内容(必须)
                    </h3>
                </div>
                <div class="panel-body" id="modules">

                </div>
            </div>
        </div>
    </div>

</div>


<script>
    var _moduleList=new Array();
    function addModule()
    {
        var name=$('#moduleName').val();
        if(name=="")
        {
            return ;
        }
        else
        {
            if(isModuleNameExists(name))
            {
                alert('模块名称已存在列表中，请核对');
                return ;
            }
            else
            {
                _moduleList.push({'name':name});
                setModuleList(name);
                return;
            }

        }
    }

    function setModuleList(name)
    {
        var parent=$('#moduleList').get(0);
        var child=document.createElement("div");
        child.setAttribute('id',name);

        var grandChild1=document.createElement('label');
        grandChild1.innerText=name;
        child.appendChild(grandChild1);

        var grandChild2=document.createElement('button');
        grandChild2.setAttribute('style',"color: red");
        grandChild2.setAttribute('onclick',"removeFromModuleList('"+name+"')");
        grandChild2.innerHTML='<i class="fa fa-close"></i>';
        child.appendChild(grandChild2);

        parent.appendChild(child);
    }

    function removeFromModuleList(name)
    {
        var parent=$('#moduleList').get(0);
        var child=$('#'+name).get(0);
        parent.removeChild(child);
        for(var i in _moduleList)
        {
            if(_moduleList[i].name==name)
            {
                _moduleList.splice(i);
                return;
            }
        }
    }

    function isModuleNameExists(name)
    {
        for(var i in _moduleList)
        {
            if(_moduleList[i].name==name)
            {
                return true;
            }
        }
        return false;
    }

    function addModuleSegment(name)
    {
        var parent=$('#modules').get(0);
        var child=document.createElement('div');
        child.setAttribute('id',name+'_container');
        child.innerHTML='<label>'+name+'</label><hr/> <div class="row"></div>';
    }

</script>

