<script src="/javascripts/fileUpload/js/vendor/jquery.ui.widget.js"></script>
<script src="/javascripts/fileUpload/js/jquery.iframe-transport.js"></script>
<script src="/javascripts/fileUpload/js/jquery.fileupload.js"></script>
<br/>
<br/>


<div class="container-fluid">
    <div class="row">
        <!--左边保存按钮等-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h3 class="panel-title">
                    编辑活动
                </h3>
            </div>
            <div class="panel-body">
                <button class="button button-primary" onclick="save()">保存</button>
                <button class="button button-action" onclick="preview()">预览</button>
                <button class="button button-highlight" onclick="reset()">重置</button>
                <button class="button button-royal" onclick="goback()">返回</button>
            </div>
            <div class="panel-footer">

            </div>
        </div>
        </div>
        <!--右边活动编辑区域-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <!--活动命名-->
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        为你的活动命名(必须)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="input-group">
                                <input name="activityName" id="activityName" type="text" class="form-control" placeholder="输入活动名"/>
                                <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input name="enable" id="enable" type="checkbox" checked='checked' >启用
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <select name="activityType" id="activityType" class="form-control">
                                <option>商业</option>
                                <option>家政</option>
                                <option>教育</option>
                                <option>公益</option>
                                <option>便民</option>
                                <option>娱乐</option>
                                <option>不确定</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--设置活动背景-->
            <!--<div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        选择活动的主题背景(可选)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="text-center">
                                <img src="/images/100_1.jpeg"><br/>
                                <label class="radio-inline">
                                    <input type="radio" name="theme">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="text-center">
                                <img src="/images/100_2.jpeg"><br/>
                                <label class="radio-inline">
                                    <input type="radio" name="theme">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="text-center">
                                <img src="/images/100_3.jpeg"><br/>
                                <label class="radio-inline">
                                    <input type="radio" name="theme">
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="text-center">
                                <img src="/images/100_4.jpeg"><br/>
                                <label class="radio-inline">
                                    <input type="radio" name="theme">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!--设置活动宣传栏-->
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        为活动设置宣传栏(可选)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="file" name="file1" placeholder="第一幅宣传图片" id="file1">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <label id="uploadMessage1" style="color:red"></label>
                            <!--<input type="button" class="button button-primary button-small" value="上传" onclick="uploadfile1()">-->
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input id="fileText1" type="text" class="form-control" placeholder="输入第一幅图片的描述文字"/>
                                <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="file" name="file2" placeholder="第二幅宣传图片" id="file2">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <label id="uploadMessage2" style="color:red"></label>
                            <!--<input type="button" class="button button-primary button-small" value="上传" onclick="uploadfile2()">-->
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">

                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input id="fileText2" type="text" class="form-control" placeholder="输入第二幅图片的描述文字"/>
                                <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <input type="file" name="file3" placeholder="第三幅宣传图片" id="file3">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <label id="uploadMessage3" style="color:red"></label>
                            <!--<input type="button" class="button button-primary button-small" value="上传" onclick="uploadfile3()">-->
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">

                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group">
                                <input id="fileText3" type="text" class="form-control" placeholder="输入第三幅图片的描述文字"/>
                                <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--设置活动板块-->
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        为活动设置板块(必须)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-8">
                            <div class="input-group">
                                <input id="moduleName" type="text" class="form-control" placeholder="输入模块名"/>
                                <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <button class="button button-primary button-small" onclick="addModule()">添加</button>
                        </div>
                    </div>
                    <br/>
                    <div class="row text-left">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            模块列表
                            <hr/>
                            <div id="moduleList">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--为板块添加内容-->
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        为板块添加内容(必须)
                    </h3>
                </div>
                <div class="panel-body" id="modules">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <select class="form-control" id="moduleOptions" onchange="moduleChanged()">

                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <button class="button button-primary button-small" onclick="saveModuleContent()">保存</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea id="editor"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/javascripts/ckeditor/ckeditor.js"></script>
<script>

    CKEDITOR.replace('editor',{"allowedContent":true});

    var _moduleList=new Array();
    var _moduleContent=new Array();


    function addModule()
    {
        var name=$('#moduleName').val();
        if(name=="")
        {
            return ;
        }
        else
        {
            if(isModuleNameExists(name))
            {
                alert('模块名称已存在列表中，请核对');
                return ;
            }
            else
            {
                _moduleList.push({'name':name});
                setModuleList(name);
                addToOptions(name)
                return;
            }

        }
    }

    <!--在模块编辑栏的下拉列表中添加-->
    function addToOptions(name)
    {
        var op =$('#moduleOptions').get(0);
        for(var i=0;i<=op.options.length-1;i++)
        {
            if(op.options[i].text==name)
            {
                return;
            }
        }
        var item=new Option(name);
        op.options.add(item);
    }

    <!--在模块列表中添加模块名-->
    function setModuleList(name)
    {
        var parent=$('#moduleList').get(0);
        var child=document.createElement("div");
        child.setAttribute('id',name);

        var grandChild2=document.createElement('button');
        grandChild2.setAttribute('style',"color: red");
        grandChild2.setAttribute('onclick',"removeFromModuleList('"+name+"')");
        grandChild2.innerHTML='<i class="fa fa-close"></i>';
        child.appendChild(grandChild2);

        var grandChild1=document.createElement('label');
        grandChild1.innerHTML=name;
        grandChild1.setAttribute('style',"margin-left:15px");
        child.appendChild(grandChild1);



        parent.appendChild(child);
    }

    <!--从模块列表中删除模块-->
    function removeFromModuleList(name)
    {
        var parent=$('#moduleList').get(0);
        var child=$('#'+name).get(0);
        parent.removeChild(child);
        for(var i in _moduleList)
        {
            if(_moduleList[i].name==name)
            {
                _moduleList.splice(i);
                break;
            }
        }

        var op =$('#moduleOptions').get(0);
        for(var i=0;i<=op.options.length-1;i++)
        {
            if(op.options[i].text==name)
            {
                op.options[i]=null;
            }
        }
    }

    <!-- 判断模块名是否已存在-->
    function isModuleNameExists(name)
    {
        for(var i in _moduleList)
        {
            if(_moduleList[i].name==name)
            {
                return true;
            }
        }
        return false;
    }

    <!-- 保存活动页面内容-->
    function save()
    {
        var name=$('#activityName').val();
        if(name.trim()=='' || name.trim()==null)//验证用户是否输入了活动名
        {
            alert('请输入您的活动名称!');
            return;
        }

        var exp =new RegExp('^[a-zA-Z0-9\\u4E00-\\u9FA5]{1,10}$');//验证活动名是否汉字、字母或数字的组合，其他字符不允许
        if(!exp.test($('#activityName').val()))
        {
            alert('请输入10个以内的字符作为活动名，汉字、字母及数字的组合都可以!');
            return;
        }

        if(_moduleList.length==0)//检查是否添加了模块
        {
            alert('当前活动没有任何模块，请添加至少一个！');
            return;
        }

        if(!document.getElementById('enable').checked)
        {
            if(!confirm('注意：您尚未选择启用此活动，内容将不公开显示，是否继续？'))
            {
                return;
            }
        }

    }

    function goback()
    {
        history.go(-1);
    }

    function reset()
    {
        $('#activityName').val('');
        document.getElementById('enable').checked=true;
        $('#activityType').val('商业');
        $('input:radio[name=theme]').attr('checked',false);
        $('#file1').val('');
        $('#fileText1').val('');
        $('#file2').val('');
        $('#fileText2').val('');
        $('#file3').val('');
        $('#fileText3').val('');
        $('#moduleName').val('');
        CKEDITOR.instances.editor.setData('');

        var parent=$('#moduleList').get(0);
        for(var i in _moduleList)
        {
            var child=$('#'+_moduleList[i].name).get(0);
            parent.removeChild(child);
        }

        var op =$('#moduleOptions').get(0);
        op.options.length=0;

        _moduleList=new Array();
        _moduleContent=new Array();



    }

    function preview()
    {
        var win=window.open('/users/previewActivity');
    }

    function moduleChanged()
    {
        var selection =$('#moduleOptions').val();

        CKEDITOR.instances.editor.setData('');
        for(var i in _moduleContent)
        {
            if(_moduleContent[i].name==selection)
            {
                $('#editor').html(_moduleContent[i].content);
                break;
            }
        }
    }

    function saveModuleContent()
    {
        $("#editor").val("aaaaaaaa");

    }


    $("#file1").fileupload({
        url:"/upload?type=temp&tag=file1",//处理程序的地址，当然也可以直接写在input的data-url属性内
        done:function(e,result){
            $('#uploadMessage1').html(result.result.file);
        }
    });

    $("#file2").fileupload({
        url:"/upload?type=temp&tag=file2",//处理程序的地址，当然也可以直接写在input的data-url属性内
        done:function(e,result){
            $('#uploadMessage2').html(result.result.file);
        }
    });


    $("#file3").fileupload({
        url:"/upload?type=temp&tag=file3",//处理程序的地址，当然也可以直接写在input的data-url属性内
        done:function(e,result){
            $('#uploadMessage3').html(result.result.file);
        }
    });
</script>


