<div class="container">
    <div class="row">
        <div class="alert alert-success alert-dismissable">
            <h3>
                第四步
            </h3>
            <strong>为商品归类!</strong> 将创建好的商品分配到模块中来进行分类。
        </div>
    </div>
</div>