<br/>



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h1 id="activityName"></h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="carousel slide" id="carousel-510016" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators" id="carouselIndicators">
                    <li data-slide-to="0" data-target="#carousel-510016" id="li1">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-510016" id="li2">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-510016" id="li3">
                    </li>
                </ol>
                <div class="carousel-inner" id="carouselInner">
                    <div class="item active" id="item1">
                        <img alt="" src="/images/tmp1.jpeg" id="itemImg1" />
                        <div class="carousel-caption">
                            <p id="itemDesc1">

                            </p>
                        </div>
                    </div>
                    <div class="item" id="item2">
                        <img alt="" src="/images/tmp2.jpeg" id="itemImg2" />
                        <div class="carousel-caption">
                            <p id="itemDesc2">

                            </p>
                        </div>
                    </div>
                    <div class="item" id="item3">
                        <img alt="" src="/images/tmp3.jpeg" id="itemImg3" />
                        <div class="carousel-caption">
                            <p id="itemDesc3">

                            </p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-510016" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-510016" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            参与度
                            <br/>
                            <i class="fa fa-users"> 100</i>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            好评
                            <br/>
                            <i class="fa fa-thumbs-up"> 80</i>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            差评
                            <br/>
                            <i class="fa fa-thumbs-down"> 20</i>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <b>介绍：</b><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <p id="activityDesc"></p>
                </div>
                <div class="panel-footer">
                    <address>
                        <strong>联系方式：</strong><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <p id="contactInfo"></p>
                    </address>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <div class="row" id="contentContainer">
                <!--<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">
                            <b>最新</b>
                        </h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/ckeditor/ckeditor.js"></script>
<script>
    var exp;
    //设置活动名
    var txt=window.opener.document.getElementById('activityName').value;
    $('#activityName').html(txt);

    //设置活动描述及地址信息
    var activityDesc=window.opener.document.getElementById('activityDesc').value;
    document.getElementById('activityDesc').innerHTML=activityDesc;

    var contactInfo=window.opener.document.getElementById('contactInfo').value;
    document.getElementById('contactInfo').innerHTML=contactInfo;

    //carousel图片一设置
    var pic1=window.opener.document.getElementById('uploadMessage1').innerHTML;
    var pic1Desc=window.opener.document.getElementById('fileText1').value;

    if(pic1!='' && pic1!=null)
    {
        var img=document.getElementById('itemImg1');
        img.setAttribute('src','/tmp/'+pic1);
        var desc=document.getElementById('itemDesc1');
        desc.innerHTML=pic1Desc;
    }
    else
    {
        var li=document.getElementById('li1');
        document.getElementById('carouselIndicators').removeChild(li);

        var item=document.getElementById('item1');
        document.getElementById('carouselInner').removeChild(item);
    }

    //carousel图片二设置
    var pic2=window.opener.document.getElementById('uploadMessage2').innerHTML;
    var pic2Desc=window.opener.document.getElementById('fileText2').value;
    if(pic2!='' && pic2!=null)
    {
        var img=document.getElementById('itemImg2');
        img.setAttribute('src','/tmp/'+pic2);
        var desc=document.getElementById('itemDesc2');
        desc.innerHTML=pic2Desc;
    }
    else
    {
        var li=document.getElementById('li2');
        document.getElementById('carouselIndicators').removeChild(li);

        var item=document.getElementById('item2');
        document.getElementById('carouselInner').removeChild(item);
    }

    //carousel图片三设置
    var pic3=window.opener.document.getElementById('uploadMessage3').innerHTML;
    var pic3Desc=window.opener.document.getElementById('fileText3').value;

    if(pic3!='' && pic3!=null)
    {
        var img=document.getElementById('itemImg3');
        img.setAttribute('src','/tmp/'+pic3);
        var desc=document.getElementById('itemDesc3');
        desc.innerHTML=pic3Desc;
    }
    else
    {
        var li=document.getElementById('li3');
        document.getElementById('carouselIndicators').removeChild(li);

        var item=document.getElementById('item3');
        document.getElementById('carouselInner').removeChild(item);
    }

    //设置模块信息
    var _moduleContent=window.opener.document._moduleContent;
    for(var i in _moduleContent)
    {
        var b =document.createElement('b');
        b.innerHTML=_moduleContent[i].name;
        var h3=document.createElement('h3');
        h3.setAttribute('class','panel-title text-center');
        h3.appendChild(b);
        var div_panelhead=document.createElement('div');
        div_panelhead.setAttribute('class','panel-heading');
        div_panelhead.appendChild(h3);
        var div_body=document.createElement('div');
        //var editor=document.createElement('textarea');
        //editor.setAttribute('id','editor'+i);
        div_body.setAttribute('class','panel-body');
        //div_body.appendChild(editor);
        div_body.innerHTML=_moduleContent[i].content;
        var panel=document.createElement('div');
        panel.setAttribute('class','panel panel-default');
        panel.appendChild(div_panelhead);
        panel.appendChild(div_body);

        var container=document.getElementById('contentContainer');
        container.appendChild(panel);

        //CKEDITOR.replace('editor'+i,{"allowedContent":true});
        //CKEDITOR.instances['editor'+i].setData(_moduleContent[i].content);
    }

</script>

