<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h2>
                <b id="activityName"></b>
            </h2>
        </div>
    </div>
</div>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="carousel slide" id="carousel-846085" data-ride="carousel" data-interval="5000">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-846085">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-846085">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-846085">
                    </li>
                </ol>
                <div class="carousel-inner" id="_carousel">
                    <div class="item active" id="item1">
                        <img alt="" src="/images/tmp1.jpeg" id="image1" />
                        <div class="carousel-caption">
                            <p id="description1">

                            </p>
                        </div>
                    </div>
                    <div class="item" id="item2">
                        <img alt="Carousel Bootstrap Second" src="/images/tmp2.jpeg" id="image2" />
                        <div class="carousel-caption">
                            <p id="description2">

                            </p>
                        </div>
                    </div>
                    <div class="item" id="item3">
                        <img alt="" src="/images/tmp3.jpeg" id="image3" />
                        <div class="carousel-caption">
                            <p id="description3">

                            </p>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-846085" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-846085" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            参与度
                            <br/>
                            <i class="fa fa-users" id="total"> </i>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            好评
                            <br/>
                            <i class="fa fa-thumbs-up" id="favour"> </i>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
                            差评
                            <br/>
                            <i class="fa fa-thumbs-down" id="disagree"> </i>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="activityDesc">

                </div>
                <div class="panel-footer">
                    <address id="contactInfo">

                    </address>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12" id="_container">

        </div>
    </div>
</div>

<script>

    var _moduleList;
    var _itemsInModule;

    //加载活动的信息
    $.post('/commercial/getActivityInfo',{'activityID':getQueryStringByName('actid')},
            function(data){
                if(data.succeed)
                {
                    //设置名称等
                    document.getElementById('activityName').innerHTML=data.activity.activityName;
                    document.getElementById('activityDesc').innerHTML=data.activity.activityDescription;
                    document.getElementById('contactInfo').innerHTML=data.activity.activityContact;

                    document.getElementById('total').innerHTML=data.activity.activityFavour+data.activity.activityDisagree;
                    document.getElementById('favour').innerHTML=data.activity.activityFavour;
                    document.getElementById('disagree').innerHTML=data.activity.activityDisagree;


                    //设置宣传图
                    var container=document.getElementById('_carousel');
                    if(data.activity.attachment1!='')
                    {
                        document.getElementById('image1').setAttribute('src','/resource/'+data.activity.attachment1);
                        document.getElementById('description1').innerHTML=data.activity.attachment4;
                    }
                    else
                    {
                        container.removeChild(document.getElementById('item1'));
                    }
                    if(data.activity.attachment2!='')
                    {
                        document.getElementById('image2').setAttribute('src','/resource/'+data.activity.attachment2);
                        document.getElementById('description2').innerHTML=data.activity.attachment5;
                    }
                    else
                    {
                        container.removeChild(document.getElementById('item2'));
                    }
                    if(data.activity.attachment3!='')
                    {
                        document.getElementById('image3').setAttribute('src','/resource/'+data.activity.attachment3);
                        document.getElementById('description3').innerHTML=data.activity.attachment6;
                    }
                    else
                    {
                        container.removeChild(document.getElementById('item3'));
                    }
                }
                else
                {
                    alert(data.message);
                }
            });

    //加载模块
    $.post('/commercial/getModuleList',{'activityID':getQueryStringByName('actid')},
            function(data){
                if(data.succeed)
                {
                    _moduleList=data.list;
                    createModules();
                    loadItems();
                }
                else
                {
                    alert(data.message);
                }
            });

    //根据moduleList在页面中创建模块
    function createModules()
    {
        var container=document.getElementById('_container');
        for(var i in _moduleList)
        {
            var row=document.createElement('div');
            row.setAttribute('class','row');

            var span=document.createElement('div');
            span.setAttribute('class','col-lg-12 col-md-12 col-sm-12 col-xs-12');

            var panel=document.createElement('div');
            panel.setAttribute('class','panel panel-default');

            var panelHeading=document.createElement('div');
            panelHeading.setAttribute('class','panel-heading text-center');

            var panelTitle=document.createElement('h3');
            panelTitle.setAttribute('class','panel-title');
            panelTitle.innerHTML=_moduleList[i].moduleName;

            panelHeading.appendChild(panelTitle);

            var panelBody=document.createElement('div');
            panelBody.setAttribute('class','panel-body text-center');
            panelBody.setAttribute('id','module_'+_moduleList[i].moduleID);

            panel.appendChild(panelHeading);
            panel.appendChild(panelBody);

            span.appendChild(panel);
            row.appendChild(span);
            container.appendChild(row);
        }
    }

    //加载商品
    function loadItems()
    {
        $.post('/commercial/getItemsInModule',{'activityID':getQueryStringByName('actid')},
                function(data){
                    if(data.succeed)
                    {
                        _itemsInModule=data.list;
                        addItem();
                    }
                    else
                    {
                        alert(data.message);
                    }
                });
    }

    //向模块中加载商品
    function addItem()
    {
        for(var i in _itemsInModule)
        {
            var module=document.getElementById('module_'+_itemsInModule[i].moduleID);
            var itemList=_itemsInModule[i].itemList
            for(var x in itemList)
            {
                    var item=document.createElement('div');
                    item.setAttribute('class','thumbnail col-lg-3 col-md-3 col-sm-3 col-xs-4');

                    var itemImg=document.createElement('img');
                    itemImg.setAttribute('src','/resource/'+itemList[x].attachment1);
                    itemImg.setAttribute('width','100%');

                    var capDiv=document.createElement('div');
                    capDiv.setAttribute('class','caption');

                    var title=document.createElement('label');
                    title.innerHTML=itemList[x].itemName;

                    var pp=document.createElement('p');
                    var price=document.createElement('label');
                    var spliter=document.createElement('label');
                    var uom=document.createElement('label');
                    price.innerHTML=itemList[x].unitPrice;
                    uom.innerHTML=itemList[x].primaryUOM;
                    spliter.innerHTML='/';
                    pp.appendChild(price);
                    pp.appendChild(spliter);
                    pp.appendChild(uom);

                    var p2=document.createElement('p');
                    var a3=document.createElement('a');
                    a3.setAttribute('class','button button-primary button-small');
                    a3.setAttribute('onclick','addToCart("'+itemList[x]._id+'")');
                    a3.innerHTML='购买';
                    var a4=document.createElement('a');
                    a4.setAttribute('class','button button-default button-small');
                    a4.setAttribute('onclick','viewDetail("'+itemList[x]._id+'")');
                    a4.setAttribute('style','margin-left:15px');
                    a4.innerHTML='详情';
                    p2.appendChild(a3);
                    p2.appendChild(a4);

                    capDiv.appendChild(title);
                    capDiv.appendChild(pp);
                    capDiv.appendChild(p2);

                    item.appendChild(itemImg);
                    item.appendChild(capDiv);

                    module.appendChild(item);
            }
        }
    }

</script>
