<div class="container-fluid">
    <div class="row">
        <!--左边链接等-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title" id="activityTitle">
                    </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#" onclick="redirect('/commercial/editActivity')" > 编辑活动概要</a></li>
                        <li><a href="#" onclick="redirect('/commercial/editItem')">编辑商品</a></li>
                        <li><a href="#" onclick="redirect('/commercial/editModule')">编辑模块</a></li>
                        <li><a href="#" onclick="redirect('/commercial/editItemsInModule')">编辑模块中商品</a></li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
        <!--右边活动编辑区域-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <!--模块列表-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    新建/更新模块信息
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-8">
                                        <div class="input-group">
                                            <input id="moduleName" type="text" class="form-control" placeholder="输入模块名"/>
                                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <button class="button button-primary button-small" onclick="addModule()">添加</button>
                                    </div>
                                </div>
                                <br/>
                                <div class="row text-left">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        模块列表
                                        <hr/>
                                        <table class="table table-bordered" id="_table">
                                            <tr>
                                                <td>模块名</td>
                                                <td>启用</td>
                                                <td>创建日期</td>
                                                <td>操作</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--<script src="/javascripts/ckeditor/ckeditor.js"></script>-->
<script>
    var _moduleList;

    //加载活动信息
    $.post('/commercial/getActivityInfo',
            {'activityID':getQueryStringByName('actid')},
            function(data){
                if(data.succeed)
                {
                    //设置活动名
                    $('#activityTitle').html(data.activity.activityName);
                }
                else
                {
                    //弹出错误信息
                    alert('加载活动信息时出错，原因：'+data.message);
                }

            });



    //加载模块信息
    $.post('/commercial/getModuleList',
            {'activityID':getQueryStringByName('actid')},
            function(data){
                if(data.succeed)
                {
                    _moduleList=data.list;
                    init();
                }
                else
                {
                    //弹出错误信息
                    alert('加载活动信息时出错，原因：'+data.message);
                }

            });

    //初始化显示已经有的模块信息
    function init()
    {
        var table=document.getElementById('_table');

        for(var i in _moduleList)
        {
            var row=table.insertRow(table.rows.length);
            row.setAttribute('id','row_'+_moduleList[i].moduleID);

            var td1=row.insertCell(row.cells.length);
            td1.innerHTML=_moduleList[i].moduleName;

            var td2=row.insertCell(row.cells.length);
            var cb=document.createElement('input');
            cb.setAttribute('type','checkbox');
            cb.setAttribute('checked',_moduleList[i].enabled?'checked':'');
            cb.setAttribute('onclick',"checkChange(this,'"+_moduleList[i].moduleID+"')");
            td2.appendChild(cb);

            var td3=row.insertCell(row.cells.length);
            td3.innerHTML=new Date(_moduleList[i].creationDate).toLocaleDateString();

            var td4=row.insertCell(row.cells.length);
            var a=document.createElement('a');
            a.setAttribute('class','button button-caution button-tiny');
            a.setAttribute('onclick',"delModule('"+_moduleList[i].moduleID+"')");
            a.innerHTML='删除';
            td4.appendChild(a);
        }
    }

    //更新module的启用状态
    function checkChange(obj,moduleID)
    {
        $.post('/commercial/updateModule',
                {'module':{'moduleID':moduleID,'enabled':obj.checked,'lastUpdateDate':new Date()}},
                function(data){
                    if(data.succeed)
                    {
                        return;
                    }
                    else
                    {
                        //弹出错误信息
                        alert('更新模块信息时失败，原因：'+data.message);
                    }

                });
    }

    <!-- 判断模块名是否已存在-->
    function isModuleNameExists(name)
    {
        for(var i in _moduleList)
        {
            if(_moduleList[i].moduleName==name)
            {
                return true;
            }
        }
        return false;
    }

    //新增加一个模块
    function addModule()
    {
        var name=$('#moduleName').val();
        if(name=="")
        {
            return ;
        }
        else
        {
            if(isModuleNameExists(name))
            {
                alert('模块名称已存在列表中，请核对');
                return ;
            }
            else
            {
                //保存到db并保存到_moduleList
                var module={
                    'moduleName':name,
                    'creationDate':new Date(),
                    'enabled':true,
                    'activityID':getQueryStringByName('actid'),
                    'moduleID':''
                };

                $.post('/commercial/saveModule',
                        {'module':module},
                        function(data){
                            if(data.succeed)
                            {

                                //db保存成功后在页面中新添加一行
                                module.moduleID=data._id;
                                addToTable(module);
                                //向_moduleLIst中同步添加项
                                _moduleList.push(module);
                            }
                            else
                            {
                                //弹出错误信息
                                alert(data.message);
                            }

                        });
            }

        }
    }

    //在dom中添加一行
    function addToTable(module)
    {
        var table=document.getElementById('_table');
        var row=table.insertRow(table.rows.length);
        row.setAttribute('id','row_'+module.moduleID);

        var td1=row.insertCell(row.cells.length);
        td1.innerHTML=module.moduleName;

        var td2=row.insertCell(row.cells.length);
        var cb=document.createElement('input');
        cb.setAttribute('type','checkbox');
        cb.setAttribute('checked',module.enabled);
        cb.setAttribute('onclick',"checkChange(this,'"+module.moduleID+"')");
        td2.appendChild(cb);

        var td3=row.insertCell(row.cells.length);
        td3.innerHTML=new Date(module.creationDate).toLocaleDateString();

        var td4=row.insertCell(row.cells.length);
        var a=document.createElement('a');
        a.setAttribute('class','button button-caution button-tiny');
        a.setAttribute('onclick',"delModule('"+module.moduleID+"')");
        a.innerHTML='删除';
        td4.appendChild(a);
    }

    //删除模块
    function delModule(moduleID)
    {
        if(confirm('删除模块将会同时删除里面的所有内容，确定继续？'))
        {
            //从db中删除模块
            $.post('/commercial/deleteModule',
                    {'module':{'activityID':getQueryStringByName('actid'),'moduleID':moduleID}},
                    function(data){
                        if(data.succeed)
                        {
                            delItemsInModule(getQueryStringByName('actid'),moduleID);
                        }
                        else
                        {
                            //弹出错误信息
                            alert(data.message);
                        }

                    });
        }
    }

    //删除itemsInModule
    function delItemsInModule(actID,moduleID)
    {
        $.post('/commercial/deleteItemsInModule',
                {'activityID':actID,'moduleID':moduleID},
                function(data){
                    if(data.succeed)
                    {
                        removeFromPage(moduleID);
                    }
                    else
                    {
                        //弹出错误信息
                        alert(data.message);
                    }

                });
    }

    //从DOM中删除元素
    function removeFromPage(moduleID)
    {
        var table=document.getElementById('_table');
        var row=document.getElementById('row_'+moduleID);

        table.deleteRow(row.rowIndex);

        for(var i in _moduleList)
        {
            if(_moduleList[i].moduleID==moduleID)
            {
                _moduleList.splice(i,1);
                return;
            }
        }
        alert('模块及其内容删除成功！');
    }

    //返回前一个页面
    function goback()
    {
        history.go(-1);
    }

    //链接跳转
    function redirect(tag)
    {
        go(tag+'?actid='+getQueryStringByName('actid'));
    }




</script>



