<script src="/javascripts/fileUpload/js/vendor/jquery.ui.widget.js"></script>
<script src="/javascripts/fileUpload/js/jquery.iframe-transport.js"></script>
<script src="/javascripts/fileUpload/js/jquery.fileupload.js"></script>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    编辑商品
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        上传商品图片:
                        <input type="file" name="file" id="file" placeholder="请选择文件">
                    </div>
                </div>
                <div class="row">
                    <br/>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img width="100%" src="#" alt="" id="itemImage">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input id="itemName" type="text" class="form-control" placeholder="输入商品名称"/>
                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="input-group">
                            <input id="itemDesc" type="text" class="form-control" placeholder="输入商品描述"/>
                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group">
                            <input id="itemUprice" type="text" class="form-control" placeholder="输入商品单价(元)"/>
                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="input-group">
                            <input id="itemUom" type="text" class="form-control" placeholder="输入商品单位"/>
                            <span class="input-group-addon"><i class="fa fa-keyboard-o"></i></span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label id="modalMessage" style="color:red"></label>
                    </div>
                </div>

                <input type="hidden" id="modalItemId" />

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="saveItem()">
                    保存
                </button>
            </div>
        </div>

    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <!--左边链接等-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h3 class="panel-title" id="activityTitle">
                    </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="#" onclick="redirect('/commercial/editActivity')" > 编辑活动概要</a></li>
                        <li><a href="#" onclick="redirect('/commercial/editItem')">编辑商品</a></li>
                        <li><a href="#" onclick="redirect('/commercial/editModule')">编辑模块</a></li>
                        <li><a href="#" onclick="redirect('/commercial/editItemsInModule')">编辑模块中商品</a></li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
        <!--右边活动编辑区域-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <!--活动命名-->
            <div class="row">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            编辑
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                                <button class="button button-primary button-small" onclick="addItem()">新增商品</button>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <table id="_table" class="table table-bordered">
                                    <tr class="active">
                                        <td>商品名称</td>
                                        <td>启用</td>
                                        <td>创建日期</td>
                                        <td>操作</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>

    var _itemList=new Array();

    //加载已有的商品列表
    $.post('/commercial/getItemList',
            {'activityID':getQueryStringByName('actid')},
            function(data){
                if(data.succeed)
                {
                    _itemList=data.list;
                    var list=data.list;

                    var table=document.getElementById('_table');

                    for(var i in list) {
                        var row = table.insertRow(table.rows.length);
                        row.setAttribute('id','row_'+list[i]._id);

                        var td1=row.insertCell(row.cells.length);
                        td1.innerHTML=list[i].itemName;

                        var td2=row.insertCell(row.cells.length);
                        var cb=document.createElement('input');
                        cb.setAttribute('type','checkbox');
                        cb.setAttribute('checked',list[i].enabled?'checked':'');
                        cb.setAttribute('onclick',"checkChange(this,'"+list[i]._id+"')");
                        td2.appendChild(cb);

                        var td3=row.insertCell(row.cells.length);
                        td3.innerHTML=new Date(list[i].creationDate).toLocaleDateString();

                        var td4=row.insertCell(row.cells.length);
                        var a=document.createElement('a');
                        a.setAttribute('class','button button-primary button-tiny');
                        a.setAttribute('onclick',"editItem('"+list[i]._id+"')");
                        a.innerHTML='编辑';
                        td4.appendChild(a);
                    }
                }
                else
                {
                    //弹出错误信息
                    alert('加载活动信息时出错，原因：'+data.message);
                }

            });

    //加载活动信息
    $.post('/commercial/getActivityInfo',
            {'activityID':getQueryStringByName('actid')},
            function(data){
                if(data.succeed)
                {
                    //设置活动名
                    $('#activityTitle').html(data.activity.activityName);
                }
                else
                {
                    //弹出错误信息
                    alert('加载活动信息时出错，原因：'+data.message);
                }
            });

    //添加商品
    function addItem()
    {
        resetModal();
        $('#myModal').modal('show');
    }

    //modal中的保存
    function saveItem()
    {
        var itemID=$('#modalItemId').val();
        if(itemID=='')//执行新增操作
        {
            addItemToDB();
        }
        else//执行更新操作
        {
            updateItemToDB();
        }
    }

    //将商品新增到db中
    function addItemToDB()
    {
        var id=$('#modalItemId').val();
        //检查图片是否上传
        var img=$('#itemImage').attr('src');
        if(img=='' || img==null)
        {
            $('#modalMessage').html('请选择商品图片!');
            return;
        }

        //检查商品名称
        var name=$('#itemName').val();
        if(name.trim()=='' || name.trim()==null)//验证用户是否输入商品名
        {
            $('#modalMessage').html('请输入商品名称!');
            return;
        }

        var exp =new RegExp('^[a-zA-Z0-9\\u4E00-\\u9FA5]{1,15}$');//验证商品名是否汉字、字母或数字的组合，其他字符不允许
        if(!exp.test($('#itemName').val()))
        {
            $('#modalMessage').html('请输入15个字符以内的汉字或数字或字母的组合的商品名称!');
            return;
        }

        //检查商品描述
        var desc=$('#itemDesc').val();
        if(desc.trim()=='' || desc.trim()==null)//验证用户是否输入商品描述
        {
            $('#modalMessage').html('请输入商品描述!');
            return;
        }

        exp =new RegExp('^[a-zA-Z0-9\\u4E00-\\u9FA5]{1,100}$');//验证商品名是否汉字、字母或数字的组合，其他字符不允许
        if(!exp.test($('#itemDesc').val()))
        {
            $('#modalMessage').html('请输入100个字符以内的汉字或数字或字母的组合作为商品描述!');
            return;
        }

        //检查商品单价
        var price=$('#itemUprice').val();
        if(price.trim()=='' || price.trim()==null)//验证用户是否输入商品单价
        {
            $('#modalMessage').html('请输入商品单价!');
            return;
        }


        if(isNaN($('#itemUprice').val()))
        {
            $('#modalMessage').html('请输入纯数字作为商品单价!');
            return;
        }

        //检查商品单位
        var uom=$('#itemUom').val();
        if(uom.trim()=='' || uom.trim()==null)//验证用户是否输入商品单位
        {
            $('#modalMessage').html('请输入商品单位!');
            return;
        }


        exp =new RegExp('^[a-zA-Z0-9\\u4E00-\\u9FA5]{1,10}$');//验证商品单位是否汉字、字母或数字的组合，其他字符不允许
        if(!exp.test($('#itemUom').val()))
        {
            $('#modalMessage').html('请输入10个字符以内的汉字或数字或字母的组合作为商品单位!');
            return;
        }

        //保存商品信息至db
        var item={"itemName":name,"itemDesc":desc,"image":img,"price":price,"uom":uom,"itemID":id,"activityID":getQueryStringByName('actid')};

        $.post('/commercial/saveNewItem',
                {'data':item},
                function(data){
                    if(data.succeed)
                    {
                        addItemToTable(data.item);
                        _itemList.push(data.item);
                        $('#myModal').modal('hide');
                    }
                    else
                    {
                        //弹出错误信息
                        alert('加载活动信息时出错，原因：'+data.message);
                    }
                });
    }

    //在table中新增一行商品信息
    function addItemToTable(item)
    {
        var table =document.getElementById('_table');
        var row =table.insertRow(table.rows.length);
        row.setAttribute('id','row_'+item._id);

        var td1=row.insertCell(row.cells.length);
        td1.innerHTML=item.itemName;

        var td2=row.insertCell(row.cells.length);
        var cb=document.createElement('input');
        cb.setAttribute('type','checkbox');
        cb.setAttribute('checked','checked');
        cb.setAttribute('onclick',"checkChange(this,'"+item._id+"')");
        td2.appendChild(cb);

        var td3=row.insertCell(row.cells.length);
        td3.innerHTML=new Date().toLocaleDateString();

        var td4=row.insertCell(row.cells.length);
        var a=document.createElement('a');
        a.setAttribute('class','button button-primary button-tiny');
        a.setAttribute('onclick',"editItem('"+item._id+"')");
        a.innerHTML='编辑';
        td4.appendChild(a);

    }

    //更新db中的商品信息
    function updateItemToDB()
    {
        var id=$('#modalItemId').val();
        //检查图片是否上传
        var img=$('#itemImage').attr('src');
        if(img=='' || img==null)
        {
            $('#modalMessage').html('请选择商品图片!');
            return;
        }

        //检查商品名称
        var name=$('#itemName').val();
        if(name.trim()=='' || name.trim()==null)//验证用户是否输入商品名
        {
            $('#modalMessage').html('请输入商品名称!');
            return;
        }

        var exp =new RegExp('^[a-zA-Z0-9\\u4E00-\\u9FA5]{1,15}$');//验证商品名是否汉字、字母或数字的组合，其他字符不允许
        if(!exp.test($('#itemName').val()))
        {
            $('#modalMessage').html('请输入15个字符以内的汉字或数字或字母的组合的商品名称!');
            return;
        }

        //检查商品描述
        var desc=$('#itemDesc').val();
        if(desc.trim()=='' || desc.trim()==null)//验证用户是否输入商品描述
        {
            $('#modalMessage').html('请输入商品描述!');
            return;
        }

        exp =new RegExp('^[a-zA-Z0-9\\u4E00-\\u9FA5]{1,100}$');//验证商品名是否汉字、字母或数字的组合，其他字符不允许
        if(!exp.test($('#itemDesc').val()))
        {
            $('#modalMessage').html('请输入100个字符以内的汉字或数字或字母的组合作为商品描述!');
            return;
        }

        //检查商品单价
        var price=$('#itemUprice').val();
        if(price.trim()=='' || price.trim()==null)//验证用户是否输入商品单价
        {
            $('#modalMessage').html('请输入商品单价!');
            return;
        }


        if(isNaN($('#itemUprice').val()))
        {
            $('#modalMessage').html('请输入纯数字作为商品单价!');
            return;
        }

        //检查商品单位
        var uom=$('#itemUom').val();
        if(uom.trim()=='' || uom.trim()==null)//验证用户是否输入商品单位
        {
            $('#modalMessage').html('请输入商品单位!');
            return;
        }


        exp =new RegExp('^[a-zA-Z0-9\\u4E00-\\u9FA5]{1,10}$');//验证商品单位是否汉字、字母或数字的组合，其他字符不允许
        if(!exp.test($('#itemUom').val()))
        {
            $('#modalMessage').html('请输入10个字符以内的汉字或数字或字母的组合作为商品单位!');
            return;
        }

        //保存商品信息至db
        var item={"itemName":name,
            "itemDesc":desc,
            "image":img,
            "price":price,
            "uom":uom,
            "itemID":id,
            "activityID":getQueryStringByName('actid')
        };

        $.post('/commercial/saveNewItem',
                {'data':item},
                function(data){
                    if(data.succeed)
                    {
                        //更新_itemList中的信息
                        for(var i in _itemList)
                        {
                            if(_itemList[i]._id==id)
                            {
                                _itemList[i].itemDescription=desc;
                                _itemList[i].attachment1=img.replace(/\/resource\//,'').replace(/\/tmp\//,'');
                                _itemList[i].unitPrice=price;
                                _itemList[i].primaryUOM=uom;
                                _itemList[i].lastUpdateDate=new Date();
                            }
                        }
                        $('#myModal').modal('hide');
                    }
                    else
                    {
                        //弹出错误信息
                        alert('加载活动信息时出错，原因：'+data.message);
                    }
                });
    }


    //启用标志变更
    function checkChange(obj,itemID)
    {
        $.post('/commercial/updateItemEnabled',
                {'itemID':itemID,'enabled':obj.checked,'lastUpdateDate':new Date()},
                function(data){
                    if(data.succeed)
                    {
                        alert(data.message);
                    }
                    else
                    {
                        //弹出错误信息
                        alert('更新模块信息时失败，原因：'+data.message);
                    }

                });
    }

    //点击编辑按钮
    function editItem(itemID)
    {
        var item=getItemById(itemID);
        $('#itemName').attr('readonly',true);//将商品名称设置为不可编辑
        $('#itemImage').attr('src','/resource/'+item.attachment1);
        $('#itemName').val(item.itemName);
        $('#itemDesc').val(item.itemDescription);
        $('#itemUprice').val(item.unitPrice);
        $('#itemUom').val(item.primaryUOM);
        $('#modalItemId').val(item._id);
        $('#myModal').modal('show');
    }

    //按id从_itemList中获取商品
    function getItemById(id)
    {
        for(var i in _itemList)
        {
            if(_itemList[i]._id==id)
            {
                return _itemList[i];
            }
        }
        return null;
    }

    //重置模态窗口中的信息
    function resetModal()
    {
        $('#file').val('');
        $('#itemImage').attr('src','');
        $('#itemName').val('');
        $('#itemName').attr('readonly',false);
        $('#itemDesc').val('');
        $('#itemUprice').val('');
        $('#itemUom').val('');
        $('#modalMessage').html('');
        $('#modalItemId').val('');
    }

    //链接跳转
    function redirect(tag)
    {
        go(tag+'?actid='+getQueryStringByName('actid'));
    }

    //返回前一个页面
    function goback()
    {
        history.go(-1);
    }

    //用于上传商品图片
    $("#file").fileupload({
        url:"/upload?type=temp&tag=file",//处理程序的地址，当然也可以直接写在input的data-url属性内
        done:function(e,result){
            $('#itemImage').attr('src','/tmp/'+result.result.file);
        }
    });
</script>
